body{
    background-color: azure;
}

.gallery{
text-align: center;


}
 






.thumbanil img{
    width: 150px;
    border: 1px solid black;
    margin: 10px;
    height: 100px;
    cursor: pointer;
}
.preview img{

    border: 1px solid black;
    margin: 10px;
    width: 500px; 
    height: 300px;
    
}




.container{
    width: 90%;
    margin: 40px auto;



}
.accordion{
    width: 100%;
    padding: 40px auto;
    background-color: black;
    color: white;
    padding: 10px;
    text-align: left;
    border: 1px solid gray;
    cursor: pointer;
    

}
.accordion::after{
    content: "-";
    font-size: 19px;
    float: right;


}
.active::after{
    content: '+';

}

.desc{
    padding: 0px 15px;
    color: black;
    height: 0;
    overflow: hidden;
    transition: all 0.5s;
  }

.fans{
    margin: 10px;
    text-align: center;
    
}
.fans i{
    font-size: 30px;
    margin: 10px;
}