body{
    background-color: azure;
}

.container{
    width: 90%;
    margin: 40px auto;




}
.accordion{
    width: 100%;
    padding: 40px auto;
    background-color: black;
    color: white;
    padding: 10px;
    text-align: left;
    border: 1px solid gray;
    cursor: pointer;
}
.accordion::after{
    content: "-";
    font-size: 19px;
    float: right;

}
.active::after{
    content: '+';

}

.desc{
    padding: 0px 15px;
    color: black;
    height: 0;
    overflow: hidden;
    transition: all 0.5s;
  }
